<!--====== Breadcrumb part Start ======-->
    <section class="breadcrumb-section bg-img-c" style="background-image: url(assets/img/breadcrumb.jpg);">
        <div class="container">
            <div class="breadcrumb-text">
                <h1 class="page-title">Registration</h1>
                <ul>
                    <li><a routerLink='/'>Home</a></li>
                    <li>Registration</li>
                </ul>
            </div>
        </div>
        <div class="breadcrumb-shapes">
            <div class="one"></div>
            <div class="two"></div>
            <div class="three"></div>
        </div>
    </section>
    <!--====== Breadcrumb part End ======-->

    

    <!--====== Contact Section start ======-->
    <section class="contact-section with-illustration-img grey-bg section-gap">
        <div class="container">
            <div class="row no-gutters justify-content-end">
                <div class="col-lg-8">
                    <div class="contact-form">
                        <div class="section-title left-border mb-40">
                            <span class="title-tag">Drop A Message</span>
                            <h2 class="title">Don’t Hesited To Contact Us</h2>
                        </div>

                        <form action="#">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="input-group mb-30">
                                        <input type="text" placeholder="Your Full Name">
                                        <span class="icon"><i class="far fa-user-circle"></i></span>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="input-group mb-30">
                                        <input type="email" placeholder="Your Email Address">
                                        <span class="icon"><i class="far fa-envelope-open"></i></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group select mb-30">
                                        <select>
                                            <option value="subject" selected>Subject</option>
                                            <option value="1" selected>Creative Idea</option>
                                            <option value="2" selected>Relationship</option>
                                            <option value="3" selected>Business Strategy</option>
                                            <option value="4" selected>Productivity</option>
                                            <option value="5" selected>It Solutions</option>
                                            <option value="5" selected>Product Design</option>
                                        </select>
                                        <span class="icon"><i class="far fa-angle-down"></i></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="input-group textarea mb-30">
                                        <textarea placeholder="Write Message"></textarea>
                                        <span class="icon"><i class="far fa-pencil"></i></span>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="main-btn">Send Message</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="illustration-img">
            <img src="assets/img/illustration/man-with-earth.png" alt="Image">
        </div>
    </section>
    <!--====== Contact Section start ======-->
